





body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #533535;
}

.container {
  background: rgb(164, 174, 201);
  padding: 20px;
  padding-right: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(73, 62, 62, 0.1);
  width: 300px;
  text-align: center;
  box-shadow: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 50%;
  padding: 10px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #c1d2c4;
}
